.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visibleArrow:hover{
  @apply [&>*:last-child]:block
}
.crossButton{
  position: absolute;
  right: 2%;
  top: 6%;
}
