@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-dark dark:text-light transition-colors duration-300
  }
}

body {
  @apply bg-light dark:bg-dark text-dark dark:text-light
}

@font-face {
  font-family: 'Black Ops One';
  src: url('assets/fonts/BlackOpsOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #f7f7f7;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
hr{
  @apply border-gray-700
}
